<h2>Show Device</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @device.name %>
  </li>

  <li>
    <strong>Identifier:</strong>
    <%= @device.identifier %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @device.user.name %>
  </li>

</ul>

<span><%= link "Edit", to: device_path(@conn, :edit, @device) %></span>
<span><%= link "Back", to: device_path(@conn, :index) %></span>
