<h2>New User</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create),
                        types: @types,
                        password_editable: true,
                        current_user: @current_user %>

<span><%= link "Back", to: user_path(@conn, :index), class: "btn btn-default" %></span>
