<h2>New Network</h2>

<%= render "form.html", changeset: @changeset,
                        action: network_path(@conn, :create) %>

<span><%= link "Back", to: network_path(@conn, :index), class: "btn btn-default" %></span>
