<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Spejs!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="navbar navbar-default">
          <ul class="nav navbar-nav pull-left">
            <%= if Coherence.logged_in?(@conn) do %>
              <li class="navbar-text"><%= version() %></li>
              <li><%= link("Devices", to: "/devices") %></li>
              <li><%= link("Networks", to: "/networks") %></li>
              <li><%= link("Users", to: "/users") %></li>
            <% else %>
              <li><%= link("Get Started", to: "http://www.phoenixframework.org/docs") %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <%= coherence_links(@conn, :layout) %>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
